.tweets {

    &__section {
        padding-top: 20px;

        @media screen and (max-width: 799px) {
            padding-right: 16px;
            padding-bottom: 28px;
            padding-left: 16px;
        }

        @media screen and (min-width: 800px) and (max-width: 1279.89px) {
            max-width: 800px;
            margin: 0 auto;
            padding-right: 16px;
            padding-bottom: 28px;
            padding-left: 16px;

        }

        @media screen and (min-width: 1280px) {
            max-width: 1280px;
            margin: 0 auto;
            padding-right: 16px;
            padding-bottom: 28px;
            padding-left: 16px;

        }
    }

    &__container {

        display: flex;
        flex-wrap: wrap;
        margin: -27px;
    }

    &__back_button {

        margin-bottom: 10px;

        padding: 5px 10px;
        border: 0;

        background: #EBD8FF;
        border-radius: 10.3108px;

        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;

        text-transform: uppercase;

        color: #373737;

        transition: 0.3s;
    }

    &__buttom_more {
        display: block;
        margin: 0 auto;
        margin-top: 20px;

        padding: 10px 30px;
        border: 0;

        background: #b274f5;
        border-radius: 10.3108px;

        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;

        text-transform: uppercase;

        color: #ffffff;

        transition: 0.3s;
    }
}